.logo.header {
    grid-area: logo;
    display: grid;
    grid-template-rows: 5mm 1fr 1fr 5mm;
    grid-template-columns: 5mm 0.5fr 5mm 1fr 5mm;

    grid-template-areas:
        ".  .      .   .        ."
        ".  shield .   text1    ."
        ".  shield .   text2    .";
    .shield {
        grid-area: shield;
        // border-radius: 100%;
        -webkit-print-color-adjust: exact;
        text-align: center;
        // line-height: 100%;
        font-family: "Bebas Neue", sans-serif;
        font-size: 32pt;
    }
    .text1 {
        grid-area: text1;
        font-family: "Poiret One", cursive;
        font-size: 20pt;
    }
    .text2 {
        grid-area: text2;
        font-family: "Bebas Neue", sans-serif;
        font-size: 28pt;
    }
}
