.header {
    display: grid;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    padding: 5px 40px;
    grid-area: header;
    grid-template-columns: 2fr 1fr;
    border-bottom: 1px solid rgb(216, 216, 216);
    grid-template-areas:
        "text1 shield";

    .shield {
        grid-area: shield;
        height: auto;
        width: 120px;
        margin-left: auto;
        margin-right: 0;

        img {
            max-width: 100%;
            height: auto;
        }
    }
    .text1 {
        text-align: left;
        grid-area: text1;
        color: rgb(43, 51, 57);
        font-size: 16px;
        font-weight: bold;
    }
}
