@import url("https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100italic,100");
.fullpage {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 0;
    background-size: cover;
    background-position: center;
    -webkit-print-color-adjust: exact;
}
.ContractAgreement {
    width: 210mm;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    .selector {
        text-transform: none;
    }
    div {
        text-transform: none !important;
    }
    // .MuiButtonBase-root {
    //     width: 200%
    // }
    .checkCircleWrapper{
        // display: grid;
        // grid-template-areas: '. . .';
        // grid-template-columns: auto;
        align-items: center;
    }
    // .lineDiv{
    //     background-color: #05B9AE;
    //     width: 100%;
    //     height: 2px;
    // }
    // .lineDivTransparent{
    //     background-color: transparent;
    //     width: 100%;
    //     height: 2px;
    // }
    // .MuiButtonBase-root {
    //     padding: 0;
    // }
    .MuiFormControl-root {
        width: 100%;
    }
    .MuiTabs-flexContainer{
        display: grid;
        grid-template-areas: '. . .';
        grid-template-columns: auto;
        // align-content: space-around !important;
        // align-items: flex-end !important;
    }
    span{
        background-color: transparent;

    }
    .Wrapper {
        margin-top: 40px;
        padding-top: 10px;
        background: rgb(255, 255, 255);
        border-radius: 6px;
    }
        .agreements {
        background-color: rgba(255, 255, 255, 1);
        top: 35mm;
        left: 0px;
        right: 0px;


        .Text {
            background: rgb(231, 240, 245);
            border-radius: 6px;
            margin: 40px;
            min-height: 35vh;

            color: rgb(43, 51, 57);
            font-family: Roboto;
            font-size: 14px;
            font-weight: normal;
            letter-spacing: 0px;

        }
        .InnerText {
            max-height: 35vh;
            overflow-y: auto;
            background: rgb(231, 240, 245);
            margin: 30px;
        }
        InnerText {
            padding: 20px;
        }
        .checkCircle{
            color: #05B9AE;
            font-size: 40px;
        }
        .checkCircleNext{
            color: rgb(192, 210, 221);
            font-size: 40px;
        }
        .Tab {
            padding: 5mm;
            max-height: 35vh;
            margin-top: auto;
            button {
                width: 50%;
                text-transform: none;
                font-family: Roboto-Medium;
                font-size: 16px;
                font-weight: 500;
                letter-spacing: 0px;
                line-height: 24px;
                border: 0ch;
            }
            .backButton {
                text-transform: none;
                background-color: transparent;
                color: rgb(109, 131, 145);
            }
            .backButton:disabled,
            .backButton[disabled]{
                text-transform: none;
                background-color: transparent;
                border: 0cm;
            }
            button:disabled,
            button[disabled]{
                border: 1px solid #999999;
                background-color: #cccccc;
                color: #666666;
                border: 0ch;
            }
            .consentButtonWrapper{
                display: grid;
                grid-template-areas: '. .';
                grid-template-columns: 7fr 3fr;
                text-align: right;
            }
        }
        .greenChk {
            color: #05B9AE;
        }
        .checkLabel{
            color: rgb(43, 51, 57);
            font-family: Roboto;
            font-size: 14px;
            font-weight: normal;
            letter-spacing: 0px;
            line-height: 20px;
        }
    }
}

