.page {
    margin-bottom: 0px;
    margin-top: 0px;
    display: grid;
    @media print {
        grid-template-rows: 10% 1fr 25mm;
    }
    @media screen {
        grid-template-rows: 10% 1fr 32mm;
    }
    grid-template-columns: 0% 1fr;
    grid-template-areas:
        ".          header"
        "content    content"
        "footer     footer"
    ;
    .header {
        grid-area: header;
        // background-color: red;
        overflow: hidden;
        z-index: 100;
        width: 100%;
    }
    .content {
        grid-area: content;
        // overflow: hidden;

        .withMargin {
            margin-left: 20mm;
            margin-right: 20mm;
            margin-top: 10mm;
        }

    }
    .footerWrapper {
        grid-area: footer;
        z-index: 100;
    }
}